/* Presets */
/* Rivals */
.preset-rivals {
    --accent-h: 40;
    --accent-s: 70%;
    --accent-l: 50%;
}
.theme-light.preset-rivals {
    --accent-h: 40;
    --accent-s: 70%;
    --accent-l: 50%;
    --grotto-day-1: hsl(0, 20%, 90%);
    --grotto-day-2: hsl(0, 20%, 80%);
    --grotto-night-0: hsl(90, 40%, 44%);
    --grotto-night-1: hsl(40, 70%, 50%);
    --grotto-night-2: hsl(40, 70%, 60%);
    --grotto-accent-1: hsl(40, 70%, 50%);
    --grotto-accent-2: hsl(40, 70%, 56%);
    --grotto-sidebar-color: hsl(0, 0%, 18%);
    --text-normal: hsl(0, 0%, 18%);
    --text-muted: hsl(0, 0%, 24%);
    --text-faint: hsl(0, 0%, 40%);
}
.theme-dark.preset-rivals, .is-mobile.theme-dark.preset-rivals {
    --accent-h: 0;
    --accent-s: 30%;
    --accent-l: 50%;
    --grotto-day-1: hsl(0, 20%, 90%);
    --grotto-day-2: hsl(0, 20%, 80%);
    --grotto-night-0: hsl(200, 10%, 14%);
    --grotto-night-1: hsl(196, 60%, 30%);
    --grotto-night-2: hsl(196, 60%, 50%);
    --grotto-accent-1: hsl(0, 30%, 50%);
    --grotto-accent-2: hsl(0, 30%, 56%);
}

/* Dawn */
.preset-dawn {
    --accent-h: 0;
    --accent-s: 40%;
    --accent-l: 60%;
}
.theme-light.preset-dawn {
    --grotto-day-1: hsl(0, 20%, 90%);
    --grotto-day-2: hsl(0, 20%, 80%);
    --grotto-night-0: hsl(0, 40%, 50%);
    --grotto-night-1: hsl(200, 30%, 30%);
    --grotto-night-2: hsl(200, 20%, 60%);
    --grotto-accent-1: hsl(0, 40%, 60%);
    --grotto-accent-2: hsl(0, 40%, 64%);
}
.theme-dark.preset-dawn, 
.is-mobile.theme-dark.preset-dawn {
    --grotto-day-1: hsl(0, 20%, 90%);
    --grotto-day-2: hsl(0, 20%, 80%);
    --grotto-night-0: hsl(200, 30%, 20%);
    --grotto-night-1: hsl(0, 40%, 50%);
    --grotto-night-2: hsl(200, 30%, 50%);
    --grotto-accent-1: hsl(0, 40%, 60%);
    --grotto-accent-2: hsl(0, 40%, 64%);
}

/* Gardevoir */
.preset-gardevoir {
    --accent-h: 0;
    --accent-s: 40%;
    --accent-l: 50%;
    --grotto-day-1: hsl(120, 30%, 90%);
    --grotto-day-2: hsl(120, 30%, 80%);
    --grotto-night-0: hsl(120, 30%, 60%);
    --grotto-night-1: hsl(120, 30%, 68%);
    --grotto-night-2: hsl(120, 30%, 74%);
    --grotto-accent-1: hsl(0, 40%, 50%);
    --grotto-accent-2: hsl(0, 40%, 56%);
}
.theme-dark.preset-gardevoir, 
.is-mobile.theme-dark.preset-gardevoir, 
.theme-light.preset-gardevoir {
    --text-normal: hsl(0, 0%, 18%);
    --text-muted: hsl(0, 0%, 24%);
    --text-faint: hsl(0, 0%, 40%);
    --grotto-sidebar-color: hsl(0, 0%, 18%);
}

/* Ursaluna */
.preset-ursaluna {
    --accent-h: 47;
    --accent-s: 56%;
    --accent-l: 50%;
    --grotto-day-1: hsl(20, 10%, 80%);
    --grotto-day-2: hsl(20, 10%, 70%);
    --grotto-night-0: hsl(20, 40%, 14%);
    --grotto-night-1: hsl(20, 40%, 20%);
    --grotto-night-2: hsl(20, 40%, 32%);
    --grotto-accent-1: hsl(47, 56%, 40%);
    --grotto-accent-2: hsl(47, 56%, 46%);
    --grotto-active-file-color: var(--background-secondary);
    --grotto-header-1-color: var(--grotto-night-1);
}
.theme-dark.preset-ursaluna, 
.is-mobile.theme-dark.preset-ursaluna {
    --grotto-button-color: var(--background-primary);
    --grotto-selection-color: var(--background-primary);
    --grotto-dropdown-color: var(--background-primary);
}

/* Wattrel */
.preset-wattrel {
    --accent-h: 47;
    --accent-s: 56%;
    --accent-l: 50%;
    --grotto-day-1: hsl(200, 10%, 60%);
    --grotto-day-2: hsl(200, 10%, 50%);
    --grotto-night-0: hsl(0, 0%, 12%);
    --grotto-night-1: hsl(0, 0%, 18%);
    --grotto-night-2: hsl(0, 0%, 24%);
    --grotto-accent-1: hsl(47, 56%, 50%);
    --grotto-accent-2: hsl(47, 56%, 56%);
    --grotto-header-1-color: var(--background-secondary);
    --grotto-header-2-color: var(--background-primary);
    --grotto-active-file-color: var(--background-secondary);
    --grotto-suggestion-hover-color: var(--background-primary);
}
.theme-dark.preset-wattrel, 
.is-mobile.theme-dark.preset-wattrel {
    --grotto-button-color: var(--background-primary);
    --grotto-selection-color: var(--background-primary);
    --grotto-dropdown-color: var(--background-primary);
}

/* Noivern */
.preset-noivern {
    --accent-h: 160;
    --accent-s: 40%;
    --accent-l: 50%;
    --grotto-day-1: hsl(40, 10%, 90%);
    --grotto-day-2: hsl(40, 10%, 80%);
    --grotto-night-0: hsl(225, 10%, 12%);
    --grotto-night-1: hsl(288, 26%, 32%);
    --grotto-night-2: hsl(288, 26%, 40%);
    --grotto-accent-1: hsl(160, 40%, 50%);
    --grotto-accent-2: hsl(160, 40%, 56%);
}

/* Zygarde */
.preset-zygarde {
    --accent-h: 225;
    --accent-s: 0%;
    --accent-l: 20%;
    --grotto-day-1: hsl(40, 10%, 90%);
    --grotto-day-2: hsl(40, 10%, 80%);
    --grotto-night-0: hsl(225, 0%, 12%);
    --grotto-night-1: hsl(80, 40%, 45%);
    --grotto-night-2: hsl(80, 40%, 64%);
    --grotto-accent-1: hsl(225, 0%, 20%);
    --grotto-accent-2: hsl(225, 0%, 26%);
    --grotto-item-hover-color: var(--grotto-night-2);
}

/* Yveltal */
.preset-yveltal {
    --accent-h: 225;
    --accent-s: 10%;
    --accent-l: 65%;
    --grotto-day-1: hsl(40, 10%, 90%);
    --grotto-day-2: hsl(40, 10%, 80%);
    --grotto-night-0: hsl(225, 0%, 16%);
    --grotto-night-1: hsl(5, 60%, 53%);
    --grotto-night-2: hsl(5, 60%, 60%);
    --grotto-accent-1: hsl(225, 10%, 65%);
    --grotto-accent-2: hsl(225, 10%, 72%);
    --grotto-header-1-color: var(--grotto-day-1);
    --grotto-header-2-color: var(--grotto-accent-1);
}
.theme-light.preset-yveltal, 
.is-mobile.theme-light.preset-yveltal {
    --grotto-button-color: var(--background-secondary);
    --grotto-selection-color: var(--background-secondary);
    --grotto-dropdown-color: var(--background-secondary);
    --grotto-suggestion-hover-color: var(--background-primary);
}

/* Xerneas */
.preset-xerneas {
    --accent-h: 225;
    --accent-s: 0%;
    --accent-l: 24%;
    --grotto-day-1: hsl(40, 40%, 90%);
    --grotto-day-2: hsl(40, 60%, 70%);
    --grotto-night-0: hsl(225, 0%, 16%);
    --grotto-night-1: hsl(225, 40%, 40%);
    --grotto-night-2: hsl(225, 40%, 60%);
    --grotto-accent-1: hsl(225, 0%, 24%);
    --grotto-accent-2: hsl(225, 0%, 30%);
    --grotto-header-1-color: var(--grotto-day-1);
    --grotto-header-2-color: var(--grotto-accent-1);
    --grotto-item-hover-color: var(--grotto-night-2);
}

.theme-light.preset-xerneas {
    --grotto-header-2-color: var(--background-primary);
    --grotto-suggestion-hover-color: var(--background-primary);
}

/* Unova */
body.preset-unova {
    --accent-h: 0;
    --accent-s: 0%;
    --accent-l: 60%;
    --grotto-day-1: hsl(0, 0%, 87%);
    --grotto-day-2: hsl(0, 0%, 70%);
    --grotto-night-0: hsl(0, 0%, 12%);
    --grotto-night-1: hsl(0, 0%, 18%);
    --grotto-night-2: hsl(0, 0%, 24%);
    --grotto-accent-1: hsl(0, 0%, 60%);
    --grotto-accent-2: hsl(0, 0%, 64%);
}

/* Steelix */
body.preset-steelix {
    --accent-h: 180;
    --accent-s: 20%;
    --accent-l: 60%;
    --grotto-day-1: hsl(0, 0%, 80%);
    --grotto-day-2: hsl(0, 0%, 70%);
    --grotto-night-0: hsl(0, 0%, 12%);
    --grotto-night-1: hsl(0, 0%, 18%);
    --grotto-night-2: hsl(0, 0%, 24%);
    --grotto-accent-1: hsl(180, 20%, 60%);
    --grotto-accent-2: hsl(180, 20%, 64%);
}

/*Aegislash */
body.preset-aegislash {
    --accent-h: 260;
    --accent-s: 20%;
    --accent-l: 60%;
    --grotto-day-1: hsl(40, 50%, 90%);
    --grotto-day-2: hsl(40, 50%, 70%);
    --grotto-night-0: hsl(260, 10%, 12%);
    --grotto-night-1: hsl(260, 10%, 18%);
    --grotto-night-2: hsl(260, 10%, 32%);
    --grotto-accent-1: hsl(260, 20%, 60%);
    --grotto-accent-2: hsl(260, 20%, 64%);
}

/* Poltchageist */
body.preset-poltchageist {
    --accent-h: 114;
    --accent-s: 30%;
    --accent-l: 50%;
    --grotto-day-1: hsl(30, 14%, 82%);
    --grotto-day-2: hsl(30, 14%, 76%);
    --grotto-night-0: hsl(60, 10%, 10%);
    --grotto-night-1: hsl(60, 10%, 14%);
    --grotto-night-2: hsl(60, 5%, 24%);
    --grotto-accent-1: hsl(114, 30%, 50%);
    --grotto-accent-2: hsl(114, 30%, 56%);
}

/* Volcarona */
body.preset-volcarona {
    --accent-h: 27;
    --accent-s: 85%;
    --accent-l: 52%;
    --grotto-day-1: hsl(0, 0%, 90%);
    --grotto-day-2: hsl(187, 45%, 71%);
    --grotto-night-0: hsl(194, 60%, 18%);
    --grotto-night-1: hsl(194, 60%, 24%);
    --grotto-night-2: hsl(194, 60%, 32%);
    --grotto-accent-1: hsl(27, 85%, 52%);
    --grotto-accent-2: hsl(27, 85%, 60%);
}

/* Darkrai */
body.preset-darkrai {
    --accent-h: 5;
    --accent-s: 79%;
    --accent-l: 53%;
    --grotto-day-1: hsl(212, 0%, 90%);
    --grotto-day-2: hsl(212, 0%, 80%);
    --grotto-night-0: hsl(0, 0%, 12%);
    --grotto-night-1: hsl(0, 0%, 18%);
    --grotto-night-2: hsl(0, 0%, 32%);
    --grotto-accent-1: hsl(5, 60%, 53%);
    --grotto-accent-2: hsl(5, 60%, 60%);
}

/* Clobbopus*/
body,
body.preset-clobbopus {
    --accent-h: 16;
    --accent-s: 82%;
    --accent-l: 58%;
    --grotto-day-1: hsl(33, 33%, 87%);
    --grotto-day-2: hsl(33, 33%, 78%);
    --grotto-night-0: hsl(240, 18%, 20%);
    --grotto-night-1: hsl(240, 18%, 25%);
    --grotto-night-2: hsl(240, 18%, 45%);
    --grotto-accent-1: hsl(16, 82%, 58%);
    --grotto-accent-2: hsl(16, 82%, 64%);
}

/* Common Variables */
body {
    --icon-xs-stroke-width: 1px;
    --icon-s-stroke-width: 1px;
    --icon-m-stroke-width: 1px;
    --icon-l-stroke-width: 1px;
    --icon-xl-stroke-width: 1px;
    --input-radius: 0px;
    --radius-s: 0px;
    --radius-m: 0px;
    --radius-l: 0px;
    --radius-xl: 0px;
    --tab-curve: 0px;
    --nav-indentation-guide-width: 0px;
    --metadata-property-radius: 0px;
    --metadata-property-radius-hover: 0px;
    --metadata-property-radius-focus: 0px;
    --tab-outline-width: 0px;
    --tab-radius-active: 0px;
    --list-bullet-radius: 0px;
    --p-spacing: 4px;
    --border-width: 0px;
    --divider-width: 0px;
    --toggle-border-width: 2px;
    --grotto-font-weight: 400;
    font-weight: var(--grotto-font-weight);/*Plugin*/
    --file-line-width: 700px;/*Plugin*/
}

.theme-light {
    --code-background: var(--grotto-day-2);
    --color-accent: var(--grotto-accent-1);
    --interactive-accent: var(--grotto-accent-1);
    --background-primary: var(--grotto-day-1);
    --background-primary-alt: var(--background-primary);
    --background-secondary: var(--grotto-night-0);
    --background-secondary-alt: var(--background-secondary);
    --text-normal: var(--grotto-night-1);
    --text-muted: var(--grotto-night-2);
    --text-faint: var(--grotto-night-2);
    --grotto-item-hover: var(--grotto-day-2);
    --background-modifier-hover: transparent;
    --background-modifier-cover: hsl(0, 0%, 10%, 0.6);
}

.theme-dark,
.is-mobile.theme-dark {
    --code-background: var(--grotto-night-2);
    --color-accent: var(--grotto-accent-1);
    --interactive-accent: var(--grotto-accent-1);
    --background-primary: var(--grotto-night-1);
    --background-primary-alt: var(--background-primary);
    --background-secondary: var(--grotto-night-0);
    --background-secondary-alt: var(--background-secondary);
    --text-normal: var(--grotto-day-1);
    --text-muted: var(--grotto-day-2);
    --text-faint: var(--grotto-day-2);
    --grotto-item-hover: var(--grotto-night-2);
    --background-modifier-hover: transparent;
    --background-modifier-cover: hsl(0, 0%, 10%, 0.6);
}

body {
    --grotto-tag-color: var(--background-primary);
    --grotto-tag-background-color: var(--text-normal);
    --grotto-tag-pointer-events: none;/*Plugin*/
    --tag-radius: 0px;
    --tag-padding-x: 0.4em;
    --tag-padding-y: 0.2em;
    --grotto-bold-color: var(--grotto-accent-1);
    --grotto-bold-font-weight: 800;
    --grotto-italic-color: var(--grotto-accent-1);
    --grotto-italic-font-weight: 400;
    --grotto-link-color: var(--grotto-accent-1);
    --grotto-link-hover-color: var(--grotto-accent-2);
    --grotto-comment-color: var(--grotto-accent-1);
    --grotto-image-border-color: transparent;/*Plugin*/
    --grotto-notice-color: var(--grotto-active-file-color);
    --grotto-notice-background-color: var(--grotto-accent-1);
    --grotto-notice-border-radius: 0px;/*Plugin*/
    --grotto-suggestion-color: var(--text-normal);
    --grotto-suggestion-hover-color: var(--text-normal);
    --grotto-suggestion-background-color: var(--background-primary);
    --blockquote-color: var(--text-normal);
    --blockquote-border-thickness: 2px;
    --blockquote-border-color: var(--text-normal);/*Plugin*/
    --blockquote-background-color: transparent;/*Plugin*/
    --grotto-callout-color: var(--text-normal);
    --grotto-callout-background-color: var(--background-primary);/*Plugin*/
    --grotto-callout-icon: none;/*Plugin*/
    --grotto-embed-color: var(--text-normal);
    --grotto-embed-background-color: var(--background-primary);
    --grotto-embed-title: none;/*Plugin*/
    --embed-max-height: 4000px;/*Plugin*/
    --grotto-header-1-color: var(--text-normal);
    --grotto-header-2-color: var(--background-primary);
    --grotto-header-3-color: var(--text-normal);
    --grotto-header-4-color: var(--text-normal);
    --grotto-header-5-color: var(--text-normal);
    --grotto-header-6-color: var(--text-normal);
    --grotto-header-1-background-color: var(--grotto-accent-1);
    --grotto-header-2-background-color: var(--text-normal);
    --grotto-header-3-background-color: var(--grotto-accent-1);
    --grotto-header-4-background-color: var(--grotto-accent-1);
    --grotto-header-5-background-color: var(--grotto-accent-1);
    --grotto-header-6-background-color: transparent;
    --grotto-statusbar-color: var(--grotto-day-1);
    --grotto-statusbar-hover-color: var(--grotto-accent-1);
    --grotto-statusbar-background-color: var(--background-secondary);
    --grotto-selection-color: var(--text-normal);
    --grotto-selection-background-color: var(--background-primary);
    --grotto-dropdown-color: var(--text-normal);
    --grotto-dropdown-background-color: var(--grotto-accent-1);
    --grotto-dropdown-background-hover-color: var(--grotto-accent-2);
    --grotto-button-color: var(--text-normal);
    --grotto-button-background-color: var(--grotto-accent-1);
    --grotto-button-background-hover-color: var(--grotto-accent-2);
    --checkbox-marker-color: transparent;
    --checkbox-color: var(--grotto-accent-1);
    --checkbox-color-hover: var(--grotto-accent-1);
    --grotto-toolbar-color: var(--background-primary);/* Plugin */
    --grotto-toolbar-background-color: var(--text-normal);/* Plugin */
    --grotto-toolbar-rows: 2;/* Plugin check*/
    --grotto-navbar-icon-color: var(--background-primary);/* Plugin */
    --grotto-navbar-background-color: var(--text-normal);/* Plugin */
    --table-background: var(--background-primary);/*Plugin*/
    --table-border-width: 1px;
    --table-border-color: var(--text-normal);
    --table-header-background-hover: var(--table-background);
    --table-text-color: var(--text-normal);
    --table-add-button-border-color: var(--table-border-color);
    --grotto-table-cell-width: max-content;/*Plugin*/
    --grotto-table-border-style: separate;/*Plugin*/
    --grotto-quick-action-color: var(--text-normal);
    --grotto-quick-action-background-color: var(--grotto-accent-1);
    --grotto-sidebar-color: var(--grotto-day-1);
    --vault-profile-color: var(--grotto-sidebar-color);
    --background-modifier-border: var(--text-faint);
    --background-modifier-border-focus: var(--text-normal);
    --graph-text: var(--text-faint);
    --graph-line: var(--grotto-item-hover);
    --graph-node: var(--text-normal);
    --graph-node-attachment: var(--grotto-night-2);
    --graph-node-unresolved: var(--grotto-day-2);
    --graph-node-focused: var(--grotto-accent-1);
    --graph-node-tag: var(--grotto-accent-1);
    --scrollbar-bg: var(--grotto-accent-1);
    --scrollbar-thumb-bg: var(--grotto-accent-1);
    --scrollbar-active-thumb-bg: var(--grotto-accent-1);
    --scrollbar-border-width: 0px;
    --scrollbar-radius: 0px;
    --scrollbar-width: 8px;
    --grotto-system-status-color: var(--background-primary);/*Plugin*/
    --grotto-calendar-pointer-events: auto;/* Plugin */
    --list-marker-color: var(--text-normal);
    --list-marker-color-hover: var(--text-faint);
    --list-marker-color-collapsed: var(--text-muted);
    --slider-track-background: var(--grotto-accent-1);
    --icon-color-hover: var(--grotto-accent-1);
    --nav-item-color-hover: var(--grotto-sidebar-color);
    --grotto-icon-hover: var(--grotto-accent-1);
    --grotto-active-file-color: var(--grotto-sidebar-color);
    --grotto-item-hover-color: var(--grotto-accent-1);
}

/* Tags */
a.tag, 
a.tag:hover, 
.cm-hashtag, 
.cm-hashtag:hover, 
.cm-s-obsidian span.cm-quote.cm-hashtag {
    color: var(--grotto-tag-color);
    background-color: var(--grotto-tag-background-color);
    pointer-events: var(--grotto-tag-pointer-events);
    caret-color: currentColor;
}

/* Bold */
strong, 
.cm-strong {
    color: var(--grotto-bold-color);
    font-weight: var(--grotto-bold-font-weight);
}

/* Italic */
em, 
.cm-em {
    color: var(--grotto-italic-color);
    font-weight: var(--grotto-italic-font-weight);
}

/* Link */
.cm-underline, 
.internal-link, 
.cm-s-obsidian span.cm-hmd-internal-link, 
.markdown-source-view.mod-cm6 .cm-link .cm-underline, 
.markdown-source-view.mod-cm6 .cm-url .cm-underline, 
.external-link {
    color: var(--grotto-link-color);
}

.markdown-source-view.mod-cm6 .cm-underline:hover, 
.markdown-rendered .internal-link:hover, 
.markdown-source-view.mod-cm6 .cm-link .cm-underline:hover, 
.markdown-source-view.mod-cm6 .cm-url .cm-underline:hover, 
.external-link:hover {
    color: var(--grotto-link-hover-color);
}

/* Comment */
.cm-comment {
    color: var(--grotto-comment-color);
    opacity: 0.5;
}

/* Embedded Image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--grotto-image-border-color);
    max-width: auto;
}

/* Notice */
.notice, 
.is-phone .notice {
    color: var(--grotto-notice-color);
    background-color: var(--grotto-notice-background-color);
    border: 1px solid var(--grotto-notice-color);
    border-radius: var(--grotto-notice-border-radius);
    box-shadow: none;
}

/* Headers */
.markdown-rendered h1, .HyperMD-header-1, .cm-s-obsidian .cm-line.HyperMD-header-1,
.markdown-rendered h2, .HyperMD-header-2, .cm-s-obsidian .cm-line.HyperMD-header-2,
.markdown-rendered h3, .HyperMD-header-3, .cm-s-obsidian .cm-line.HyperMD-header-3, 
.markdown-rendered h4, .HyperMD-header-4, .cm-s-obsidian .cm-line.HyperMD-header-4, 
.markdown-rendered h5, .HyperMD-header-5, .cm-s-obsidian .cm-line.HyperMD-header-5, 
.markdown-rendered h6, .HyperMD-header-6, .cm-s-obsidian .cm-line.HyperMD-header-6 {
    font-size: 1.5em;
    letter-spacing: 0px;
    line-height: 1.5em;
    width: fit-content;
    caret-color: currentColor;
    font-weight: inherit;
    border-radius: 0px;
    padding: 0px 8px;
}

.markdown-rendered h1, .HyperMD-header-1, .cm-s-obsidian .cm-line.HyperMD-header-1 {
    color: var(--grotto-header-1-color);
    background-color: var(--grotto-header-1-background-color);
    border: 1px solid var(--grotto-header-1-color);
}

.markdown-rendered h2, .HyperMD-header-2, .cm-s-obsidian .cm-line.HyperMD-header-2 {
    color: var(--grotto-header-2-color);
    background-color: var(--grotto-header-2-background-color);
    border: 1px solid transparent;
}

.markdown-rendered h3, .HyperMD-header-3, .cm-s-obsidian .cm-line.HyperMD-header-3 {
    color: var(--grotto-header-3-color);
    background-color: transparent;
    border: 2px solid var(--grotto-header-3-background-color);
    padding: 0px 7px;
}

.markdown-rendered h4, .HyperMD-header-4, .cm-s-obsidian .cm-line.HyperMD-header-4 {
    color: var(--grotto-header-4-color);
    background-color: transparent;
    border: 1px solid var(--grotto-header-4-background-color);
    border-width: 0px 2px 0px 2px;
    padding: 0px 7px;
}

.markdown-rendered h5, .HyperMD-header-5, .cm-s-obsidian .cm-line.HyperMD-header-5 {
    color: var(--grotto-header-5-color);
    background-color: transparent;
    border: 1px solid transparent;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--grotto-header-5-background-color);
}

.markdown-rendered h6, .HyperMD-header-6, .cm-s-obsidian .cm-line.HyperMD-header-6 {
    color: var(--grotto-header-6-color);
    background-color: transparent;
    border: 1px solid var(--grotto-header-6-background-color);
}

/* Blockquote */
.markdown-rendered-blockquote,
.HyperMD-quote {
    padding: 8px;
    caret-color: currentColor;
}

/* Callout */
.callout {
    color: var(--grotto-callout-color);
    background-color: var(--grotto-callout-background-color);
    border: 1px solid var(--grotto-callout-color);
    border-radius: 0px;
    padding: 8px 16px;
}

.callout-title {
    color: var(--grotto-callout-color);
    border-bottom: 1px solid var(--grotto-callout-color);
    border-radius: 0px;
    gap: 0px;
    font-size: 1.6em;
}

.callout-content p {
    margin: 4px;
}

.callout-icon .svg-icon {
    display: var(--grotto-callout-icon);
}

/* Embeds */
.markdown-embed {
    border: 1px solid var(--grotto-embed-color);
    background-color: var(--grotto-embed-background-color);
    border-radius: 0px;
    --embed-padding: 8px 16px;
}

.embed-title {
    display: var(--grotto-embed-title);
}

.markdown-embed-link,
.markdown-source-view.mod-cm6 .edit-block-button,
.markdown-source-view.mod-cm6 .code-block-flair,
.markdown-rendered button.copy-code-button {
    color: var(--grotto-embed-color);
    background-color: var(--grotto-embed-background-color);
    border: 1px solid var(--grotto-embed-color);
    border-radius: 0px;
    opacity: 1;
}

.markdown-embed-link:hover,
.markdown-source-view.mod-cm6 .edit-block-button:hover,
.markdown-source-view.mod-cm6 .code-block-flair:hover,
.markdown-rendered button.copy-code-button:hover {
    color: var(--grotto-icon-hover);
    background-color: var(--grotto-embed-background-color);
}

/* Code */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock,
.markdown-rendered pre,
.markdown-rendered code,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
    color: var(--text-normal);
    border-radius: 0px;
    caret-color: currentColor;
}

/* Checkbox */
input[type=checkbox],
input[type=checkbox]:hover,
input[type=checkbox]:checked,
input[type=checkbox]:checked:hover {
    border: 1px solid var(--text-normal);
    border-radius: 0px;
}

/* Suggestion Container */
.suggestion-container {
    background-color: var(--grotto-suggestion-background-color);
    border: 1px solid var(--grotto-suggestion-color);
    border-radius: 0px;
    box-shadow: none;
}

/* Suggestion Items */
.suggestion-item,
.is-mobile .suggestion-item {
    color: var(--grotto-suggestion-color);
    background-color: var(--grotto-suggestion-background-color);
    border: 1px solid transparent;
    border-radius: 0px;
}

.suggestion-item.is-selected,
.suggestion-item.mobile-tap {
    color: var(--grotto-suggestion-hover-color);
    background-color: var(--grotto-accent-1);
    border: 1px solid var(--grotto-suggestion-color);
}

.suggestion-flair .svg-icon {
    color: var(--grotto-suggestion-color);
}

/* Mobile Color Swatch */
.is-mobile input[type="color"] {
    width: 44px;
    height: 44px;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid var(--text-normal);
}

/* Status Bar */
.status-bar {
    color: var(--grotto-statusbar-color);
    background-color: var(--grotto-statusbar-background-color);
    border: 1px solid var(--grotto-statusbar-hover-color);
    border-width: 1px 0px 0px 1px;
}

.status-bar-item {
    color: var(--grotto-statusbar-color);
}

.status-bar-item.mod-clickable:hover {
    color: var(--grotto-statusbar-hover-color);
}

/* Selections */
select,
select:hover,
select:focus {
    color: var(--grotto-selection-color);
    background-color: var(--grotto-selection-background-color);
}

/* Dropdowns */
.combobox-button,
.dropdown {
    color: var(--grotto-dropdown-color);
    background-color: var(--grotto-dropdown-background-color);
    border: 1px solid var(--grotto-dropdown-color);
    border-radius: 0px;
    box-shadow: none;
}

.combobox-button:hover,
.combobox-button:focus,
.dropdown:hover,
.dropdown.mobile-tap,
.dropdown:focus {
    background-color: var(--grotto-dropdown-background-hover-color);
    box-shadow: none;
}

.dropdown option {
    color: var(--grotto-dropdown-color);
    background-color: var(--grotto-dropdown-background-color);
    border: 1px solid var(--grotto-dropdown-color);
    border-radius: 0px;
    box-shadow: none;
}

/* Buttons */
button:not(.clickable-icon),
button.mod-cta {
    color: var(--grotto-button-color);
    background-color: var(--grotto-button-background-color);
    border: 1px solid var(--grotto-button-color);
    border-radius: 0px;
    box-shadow: none;
}

button:not(.clickable-icon):hover,
button.mod-cta:hover,
button:not(.clickable-icon).mobile-tap {
    color: var(--grotto-button-color);
    background-color: var(--grotto-button-background-hover-color);
    border: 1px solid var(--grotto-button-color);
    border-radius: 0px;
    box-shadow: none;
}

/* Multi-Row Toolbar */
.mobile-toolbar {
    border-radius: 0px;
    position: sticky;
    width: auto;
    overflow-y: auto;
    margin: 0px 12px 0px 12px;
    padding: 0px;
    height: calc(var(--grotto-toolbar-rows) * 32px);
}

.mobile-toolbar::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.mobile-toolbar-options-container {
    height: auto;
    padding: 8px 0px;
    border: 0px solid var(--grotto-toolbar-color);
    border-radius: 0px;
    background-color: var(--grotto-toolbar-background-color);
}

.mobile-toolbar-options-list {
    flex-flow: wrap;
    padding: 0px;
    gap: 8px 4px;
    justify-content: center;
}

.mobile-toolbar-option {
    color: var(--grotto-toolbar-color);
}

.mobile-toolbar-spacer {
    display: none;
}

/* Mobile NavBar */
.mobile-navbar {
    border-radius: 0px;
    background-color: var(--grotto-navbar-background-color);
    padding: 0px;
}

.mobile-navbar-actions {
    --icon-color: var(--grotto-navbar-icon-color);
    border-top: 1px solid var(--grotto-navbar-icon-color);
    padding: 4px;
}

.mobile-navbar-action-new-tab {
    display: none;
}

.mobile-navbar-actions .clickable-icon.mobile-tap {
    --icon-color: var(--grotto-accent-1);
    opacity: 1;
}

/* Table */
.markdown-preview-view td,
.markdown-preview-view th {
    white-space: nowrap !important;
}

.markdown-source-view.mod-cm6 .cm-table-widget .table-cell-wrapper,
th,
.markdown-source-view.mod-cm6 .cm-table-widget .cm-line {
    color: var(--text-normal);
    width: var(--grotto-table-cell-width);
    --caret-color: currentColor;
    min-width: 40px;
}

.markdown-source-view.mod-cm6 .cm-table-widget .table-col-drag-handle,
.markdown-source-view.mod-cm6 .cm-table-widget .table-row-drag-handle {
    color: var(--text-normal);
    border: 1px solid var(--text-normal);
    border-radius: 0px;
}

:is(th, td):has(> .table-cell-wrapper > .cm-s-obsidian) {
    border: 1px solid var(--text-normal);
}

.markdown-rendered table {
    border-collapse: var(--grotto-table-border-style, collapse);
}

/* Mobile Quick Action */
.pull-down-action,
.pull-out-action {
    border-radius: 0px;
    padding: 8px;
    color: var(--grotto-quick-action-color);
    border: 1px solid var(--grotto-quick-action-color);
    width: fit-content;
}
.pull-down-action.mod-activated,
.pull-out-action.mod-activated {
    color: var(--grotto-quick-action-color);
    background-color: var(--grotto-quick-action-background-color);
}

/* Canvas */
.canvas-control-group {
    border-radius: 0px;
    box-shadow: none;
}

.canvas-control-item {
    background-color: var(--text-normal);
    color: var(--background-primary);
    border: 0px solid transparent;
}

.canvas-control-item:hover {
    color: var(--grotto-accent-1);
    background-color: var(--text-normal);
}

.canvas-node-container {
    border: 1px solid var(--text-normal);
    border-radius: 0px;
}

.canvas-group-label {
    color: var(--text-normal);
    background-color: var(--grotto-accent-1);
    border-radius: 0px;
}

.canvas-edges path.canvas-display-path {
    stroke: var(--grotto-accent-1);
    stroke-width: 1px;
}

.canvas-edges polygon.canvas-path-end {
    stroke: var(--grotto-accent-1);
    fill: var(--grotto-accent-1);
}

/* Command Prompt */
.theme-dark.is-mobile .prompt,
.theme-light.is-mobile .prompt,
.prompt {
    border: 1px solid var(--text-normal);
    border-radius: 0px;
    background-color: var(--background-primary);
}

input.prompt-input:hover,
input.prompt-input:focus,
input.prompt-input:focus-visible,
.theme-dark.is-mobile .prompt input.prompt-input,
.theme-light.is-mobile .prompt input.prompt-input,
.prompt input.prompt-input {
    color: var(--background-primary);
    background-color: var(--text-normal);
    caret-color: currentColor;
}

.prompt-results .suggestion-hotkey {
    color: var(--background-primary);
    background-color: var(--text-normal);
    border-radius: 0px;
}

.search-input-clear-button {
    color: var(--text-faint);
}

.search-input-clear-button:hover,
.search-input-clear-button:active {
    color: var(--grotto-accent-1);
}

.prompt-instructions {
    color: var(--text-normal);
}

.is-mobile .prompt {
    border-radius: 0px;
    position: relative;
    top: 0%;
    height: 40vh;
    width: 94%;
    background-color: var(--text-normal);
    padding: 0px;
}

/* Viewer Header */
.is-mobile .view-actions {
    position: fixed;
    display: flex;
    width: fit-content;
    overflow: hidden;
    bottom: 12px;
    right: 12px;
    border-radius: 0px;
    background-color: transparent;
    padding: 1px 6px 1px 6px;
    gap: 8px;
}

.is-mobile .view-header .clickable-icon {
    color: var(--grotto-navbar-icon-color);
    border: 0px solid var(--grotto-navbar-background-color);
    border-radius: 0px;
}

.is-mobile .view-header {
    height: 0px;
}

.is-mobile .view-header-title-container,
.is-mobile .view-header-left {
    display: none;
}

.is-mobile .view-header .view-action {
    color: var(--grotto-navbar-icon-color);
    background-color: var(--grotto-navbar-background-color);
    border: 1px solid var(--grotto-navbar-icon-color);
}

.is-mobile .view-header .view-action.mobile-tap {
    color: var(--grotto-accent-1);
    background-color: var(--grotto-navbar-background-color);
    opacity: 1;
}

.is-mobile .view-header .view-action[aria-label="More options"] {
    --icon-stroke: 1.75px;
}

/* Calendar Plugin */
#calendar-container .day {
    pointer-events: var(--grotto-calendar-pointer-events);
    padding: 6px 0px 0px 0px;
    color: var(--grotto-sidebar-color);
    border: 0px solid transparent;
    border-radius: 0px;
}

#calendar-container .day.active {
    color: var(--text-normal);
}

#calendar-container .today {
    color: var(--grotto-active-file-color);
    background-color: var(--grotto-accent-1);
}

#calendar-container .month {
    color: var(--grotto-sidebar-color);
}

#calendar-container .year {
    color: var(--grotto-accent-1);
}

#calendar-container {
    --color-arrow: var(--grotto-accent-1);
    border: 1px solid var(--grotto-accent-1);
    width: 100%;
    --interactive-hover: var(--grotto-night-2);
}

#calendar-container th.svelte-pcimu8 {
    background-color: var(--grotto-accent-1);
    color: var(--grotto-active-file-color);
}

#calendar-container .title {
    padding-left: 12px;
}

#calendar-container .reset-button {
    color: var(--grotto-sidebar-color);
}

/* Community Item */
.community-item {
    border: 1px solid var(--text-normal);
}

.community-item:hover {
    border: 1px solid var(--grotto-accent-1);
}

/* Graph Controls */
.graph-controls-button {
    color: var(--background-primary);
    background-color: var(--text-normal);
    border-radius: 0px;
}

.graph-controls-button:hover {
    background-color: var(--text-faint);
}

.graph-controls:not(.is-close) {
    border: 1px solid var(--text-normal);
    border-radius: 0px;
    box-shadow: none;
}

/* Navigate Files */
.nav-file-title,
.nav-folder-title,
.tree-item-self.is-clickable,
.clickable-icon.nav-action-button,
.side-dock-settings .side-dock-ribbon-action,
.side-dock-actions .side-dock-ribbon-action {
    color: var(--grotto-sidebar-color);
    border: 1px solid transparent;
}

.nav-file-title:hover,
body:not(.is-grabbing) .tree-item-self.is-clickable:hover,
body:not(.is-grabbing) .tree-item-self.tappable.mobile-tap,
body:not(.is-grabbing) .nav-folder-title:hover {
    color: var(--grotto-item-hover-color);
}

.nav-file-title.is-active,
.nav-folder-title.is-active {
    color: var(--grotto-active-file-color);
    background-color: var(--grotto-accent-1);
    border: 1px solid var(--grotto-sidebar-color);
}

body:not(.is-grabbing) .nav-file-title.is-active:hover {
    color: var(--grotto-active-file-color);
    background-color: var(--grotto-accent-1);
    border: 1px solid var(--grotto-sidebar-color);
}

.clickable-icon.nav-action-button.mobile-tap,
.clickable-icon.nav-action-button:hover {
    color: var(--grotto-accent-1)
}

.nav-file-tag {
    color: var(--background-secondary);
    background-color: var(--grotto-sidebar-color);
    border-radius: 0px;
}

.clickable-icon.nav-action-button.is-active {
    color: var(--grotto-accent-1);
}

.side-dock-settings .side-dock-ribbon-action:hover,
.side-dock-actions .side-dock-ribbon-action:hover {
    color: var(--grotto-accent-1);
    background-color: transparent;
}

.workspace-drawer-vault-actions .clickable-icon {
    color: var(--grotto-sidebar-color);
}

.workspace-drawer-vault-actions .clickable-icon:hover {
    color: var(--grotto-accent-1);
}

.is-mobile .workspace-drawer-header {
    background-color: var(--background-secondary);
    --text-normal: var(--grotto-sidebar-color);
    --text-muted: var(--grotto-sidebar-color);
}

.sidebar-toggle-button {
    --icon-color: var(--grotto-accent-1);
    background-color: var(--background-secondary);
    --icon-color-hover: var(--grotto-sidebar-color);
    height: var(--header-height);
}

body.is-focused .sidebar-toggle-button,
body.is-focused .workspace-tabs.mod-top {
    --tab-container-background: var(--background-secondary);
}

.search-row .clickable-icon {
    color: var(--grotto-accent-1);
}

/* Rename Bar Customization */
.tree-item-self.is-being-renamed:focus-within {
    color: var(--background-secondary);
    background-color: var(--grotto-sidebar-color);
    border-radius: 0px;
    caret-color: currentColor;
}

.tree-item-self {
    border-radius: 0px;
}

/* Mobile Specific */
.is-phone {
    --border-width: 0px;
}

.is-mobile {
    --icon-l-stroke-width: 1px;
    --caret-color: currentColor;
    --checkbox-size: 16px;
    --background-modifier-cover: hsl(0, 0%, 10%, 0.5);
    --file-margins: 0px 18px 0px 26px;
    --mobile-sidebar-radius: 0px;
    --mobile-sidebar-width: 80vw;
    --system-status-background: var(--grotto-system-status-color);
    --mobile-sidebar-background: var(--background-secondary);
    --background-modifier-form-field: transparent;
}

/* Titlebar */
.titlebar-button {
    height: var(--header-height);
    color: var(--grotto-sidebar-color);
    background-color: var(--background-secondary);
}

.titlebar-button:hover {
    background-color: var(--grotto-accent-1);
}

.workspace-ribbon.mod-left.is-collapsed {
    background-color: var(--background-secondary);
}

.workspace-tab-header-inner-title {
    color: var(--grotto-sidebar-color);
}

.workspace-tab-header-inner .workspace-tab-header-inner-icon {
    color: var(--grotto-sidebar-color);
}

.mod-left-split .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-icon,

.workspace-tab-header-inner .workspace-tab-header-inner-icon:hover {
    color: var(--grotto-accent-1);
}

.is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-title,
.workspace-tab-header.is-active .workspace-tab-header-inner-title {
    color: var(--text-normal);
}

/* Settings */
.vertical-tab-nav-item {
    color: var(--grotto-sidebar-color);
    border: 1px solid transparent;
}

.is-phone .vertical-tab-nav-item {
    color: var(--text-normal);
    border: 1px solid transparent;
}
.is-phone .vertical-tab-nav-item.mobile-tap {
    color: var(--grotto-accent-1);
}
body:not(.is-phone) .horizontal-tab-nav-item:hover,
body:not(.is-phone) .vertical-tab-nav-item:hover {
    color: var(--grotto-item-hover-color);
    border: 1px solid transparent;
}

body:not(.is-phone) .horizontal-tab-nav-item.is-active,
body:not(.is-phone) .vertical-tab-nav-item.is-active {
    color: var(--grotto-active-file-color);
    background-color: var(--grotto-accent-1);
    border: 1px solid var(--grotto-sidebar-color);
}

.setting-item {
    border-width: 0px;
}

.is-phone .setting-item {
    padding-bottom: 8px;
    padding-top: 8px;
}

.is-phone .setting-item-heading {
    margin-top: 0px;
}

/* Input types */
input[type=number],
input[type=number]:hover {
    color: var(--text-normal);
    background-color: var(--background-primary);
    border: 1px solid var(--text-normal);
    caret-color: currentColor;
}

.prompt input[type=text],
.prompt input[type=text]:hover {
    color: var(--background-primary);
    background-color: var(--text-normal);
    border: 1px solid var(--text-normal);
    caret-color: currentColor;
}

input[type=text],
input[type=text]:hover,
input[type=search],
input[type=search]:hover {
    color: var(--text-normal);
    background-color: var(--background-primary);
    border: 1px solid var(--text-normal);
    caret-color: currentColor;
}

input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='password'],
.multi-select-container:hover,
input.metadata-input-text:hover,
input[type='date']:hover,
input[type='datetime-local']:hover,
input[type='email']:hover,
input[type='password']:hover,
textarea.webviewer-adblock-lists {
    color: var(--text-normal);
    background-color: var(--background-primary);
    border: 1px solid var(--text-normal);
    caret-color: currentColor;
}

.search-suggest-info-text {
    color: var(--grotto-sidebar-color);
    opacity: 0.9;
}

.suggestion-container.mod-property-key .suggestion-item {
    background-color: var(--grotto-item-hover);
    color: var(--text-normal);
}

.search-input-container input {
    border: 1px solid var(--text-normal);
}

.search-suggest-item.suggestion-item {
    color: var(--grotto-sidebar-color);
    background-color: transparent;
}

.search-suggest-item.suggestion-item:hover {
    background-color: var(--grotto-night-2);
}

.workspace-drawer-ribbon {
    background-color: var(--background-secondary);
}

/* Mobile Menus */
.is-mobile .menu {
    --input-height: 40px;
    border: none;
    max-width: 100%;
    background-color: var(--background-primary);
    border-top: 1px solid var(--text-normal);
}

.workspace-drawer-active-tab-header {
    --text-normal: var(--background-secondary);
    background-color: var(--grotto-sidebar-color);
}

.workspace-drawer-active-tab-header.tappable.mobile-tap {
    --text-normal: var(--background-secondary);
    background-color: var(--grotto-sidebar-color);
    opacity: 0.9;
}

.menu-item-title,
.menu-item-icon .svg-icon {
    color: var(--text-normal);
}

.is-phone .menu-scroll {
    background-color: var(--background-primary);
    border-width: 0px;
}

.is-phone .menu-item:not(.is-label) {
    background-color: transparent;
    border-width: 0px;
}

.is-phone .menu-group .menu-item:not(:last-child) {
    border: 1px solid transparent;
}

.menu-item.selected:not(.is-label):not(.is-disabled) {
    background-color: transparent;
}

.is-phone .menu-group .menu-item.tappable.mobile-tap {
    background-color: var(--grotto-item-hover);
}

.menu-scroll {
    background-color: var(--background-primary);
    border: 1px solid var(--text-normal);
}

.is-phone .menu .suggestion-group .suggestion-item:not(.is-label),
.is-phone .menu-item:not(.is-label) {
    color: var(--text-normal);
    background-color: transparent;
}

.is-phone .menu .suggestion-group .suggestion-item.mobile-tap:not(.is-label),
.is-phone .menu-item.mobile-tap:not(.is-label) {
    color: var(--text-normal);
    background-color: var(--grotto-item-hover);
}

/* Bases */
.is-phone .bases-toolbar-menu-container input[type=search],
.is-phone .combobox .search-input-container input[type=search] {
    background-color: var(--background-primary);
    border: 1px solid var(--text-normal);
}

.metadata-property-value .metadata-input-text,
.metadata-property-value .metadata-input-number,
.metadata-property-value .multi-select-container {
    background-color: var(--background-primary);
    border: 1px solid var(--text-normal);
}

.formula-editor {
    background-color: var(--background-primary);
    border: 1px solid var(--text-normal);
}

.is-phone .bases-query-container .filter-expression,
.bases-query-container .filter-expression {
    background-color: var(--background-primary);
    border: 1px solid var(--text-normal);
}

.bases-cards-item {
    box-shadow: none;
    border: 1px solid var(--text-normal);
}

.bases-cards-cover {
    border-bottom: 1px solid var(--text-normal);

}

/* Changes for V1.0.3*/

.workspace-leaf-resize-handle {
    border-color: var(--grotto-item-hover);
    --divider-width: 1px;
}

.modal-sidebar {
    border: 1px solid var(--text-normal);
    background-color: var(--background-primary);
}

.menu-item.selected:not(.is-label):not(.is-disabled) {
    background-color: var(--grotto-item-hover);
    border: 1px solid var(--text-normal);
}

.menu-item:not(.is-label):not(.is-disabled) {
    background-color: transparent;
    border: 1px solid transparent;
}

.mod-left-split .workspace-tab-header.has-active-menu .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header.has-active-menu .workspace-tab-header-inner-icon,
.mod-left-split .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header.is-active .workspace-tab-header-inner-icon {
    color: var(--grotto-accent-1);
}

.modal-sidebar {
    border: 1px solid var(--text-normal)
}

.search-result-file-match-destination-file {
    box-shadow: none;
    border: 1px solid var(--text-normal);
    background-color: var(--background-primary);
}

.search-result-file-match-destination-file:hover {
    box-shadow: none;
    border: 1px solid var(--text-normal);
    background-color: var(--background-primary);
}

.modal.mod-settings .vertical-tab-header {
    border-inline-end: 0px solid transparent;
    border: 1px solid var(--grotto-sidebar-color);
    border-width: 1px 0px 1px 1px;
}

.vertical-tab-content {
    border: 1px solid var(--grotto-sidebar-color);
    border-width: 1px 1px 1px 0px;
}

.modal-close-button:hover {
    color: var(--grotto-accent-1);
}

.mod-community-modal .modal-sidebar button.clickable-icon:hover {
    color: var(--grotto-accent-1);
}

.community-modal-info {
    border: 1px solid var(--text-normal);
    border-width: 0px 1px 1px 0px;
}

.modal-setting-nav-bar {
    border: 1px solid var(--text-normal);
    border-width: 1px 1px 0px 0px;
}

.bases-toolbar-menu-item {
    border: 1px solid transparent;
}

.bases-toolbar-menu-item:hover {
    background-color: var(--grotto-item-hover);
    border: 1px solid var(--text-normal);
}

.is-phone .modal.mod-settings .vertical-tab-header,
.is-phone .modal.mod-settings .vertical-tab-content,
.is-phone .modal-sidebar,
.is-phone .community-modal-info {
    border: 0px solid transparent;
}

hr {
    border-color: var(--text-normal);
    border-width: 1px;
}

.mobile-tab-switcher-menu-button.tappable {
    color: var(--grotto-sidebar-color);
}

.menu-separator {
    border-bottom: 0px solid var(--text-normal);
}

input[type='datetime-local'] {
    border: 0px solid transparent;
}

.query-toolbar-menu .bases-sort-property,
.query-toolbar-menu .filter-property-select {
    max-width: 100%;
}

.metadata-property-icon {
    border: 1px solid var(--text-normal);
}

.metadata-property-value {
    border-right: 1px solid var(--text-normal);
}

/* Changes for V 1.0.4 */

.checkbox-container {
    box-shadow: none;
    background-color: var(--grotto-item-hover);
    border: 0px solid var(--text-normal);
}

.checkbox-container:after {
    border: 1px solid var(--grotto-night-1);
    top: -0.5px;
    background-color: var(--grotto-day-1);
}

/* Older Version Compatibility */

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
    border: 0px solid transparent;
}

body:not(.native-scrollbars) ::-webkit-scrollbar {
    width: 8px;
}

.mobile-navbar-tabs-action {
    border: 1px solid var(--grotto-navbar-icon-color);
}

.workspace-drawer-active-tab-container .workspace-drawer-active-tab-content .nav-files-container,
.workspace-drawer-active-tab-content .view-content,
.workspace-drawer .nav-header {
    background-color: var(--background-secondary);
}

.is-phone .modal.mod-settings .modal-title,
.is-phone .modal.mod-settings .vertical-tab-header {
    background-color: var(--background-primary);
}

.view-action.clickable-icon.mod-left-split-toggle.mod-tappable {
    display: none;
}

/* Changes for V1.0.5 */

.workspace-split.mod-left-split>.workspace-leaf-resize-handle,
.workspace-split.mod-right-split>.workspace-leaf-resize-handle {
    border-color: var(--background-secondary);
}

#calendar-container th {
    min-width: 0px;
}

.workspace-tab-header.is-active .workspace-tab-header-inner-close-button:hover {
    color: var(--grotto-accent-1);
}

.modal-container.mod-dim .modal {
    box-shadow: none;
    border: 1px solid var(--text-normal);
}

.is-phone .modal-container.mod-dim .modal {
    border: 0px solid transparent;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-webkit-slider-thumb:hover,
input[type='range']::-webkit-slider-thumb:active {
    box-shadow: none;
    border: 1px solid var(--background-secondary);
    background-color: var(--grotto-sidebar-color);
}

input[type='range'] {
    border-radius: 0px;
}

.workspace .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header:hover .workspace-tab-header-inner-close-button:hover {
    color: var(--grotto-accent-1);
}
/* 1.0.9 */
.nav-files-container, 
.workspace-split.mod-left-split .view-content, 
.workspace-split.mod-right-split .view-content {
    --text-normal: var(--grotto-day-1);
    --text-muted: var(--grotto-day-2);
    --text-faint: var(--grotto-day-2);
}

.mobile-tab-title {
    color: var(--grotto-sidebar-color);
}

/* Style Settings Support */
.style-settings-empty {
    background-color: var(--background-primary);
}

/* @settings
name: Color Controls
id: hidden-grotto-style
collapsed: false
settings:
    -
        id: color-palettes
        title: Color Presets
        type: class-select
        allowEmpty: false
        default: preset-clobbopus
        options:
            -
                label: Aegislash
                value: preset-aegislash
            -
                label: Dawn
                value: preset-dawn
            -
                label: Clobbopus
                value: preset-clobbopus
            -
                label: Darkrai
                value: preset-darkrai
            -
                label: Gardevoir
                value: preset-gardevoir
            -
                label: Noivern
                value: preset-noivern
            -
                label: Poltchageist
                value: preset-poltchageist
            -
                label: Rivals
                value: preset-rivals
            -
                label: Steelix
                value: preset-steelix
            -
                label: Unova
                value: preset-unova
            -
                label: Ursaluna
                value: preset-ursaluna
            -
                label: Volcarona
                value: preset-volcarona
            -
                label: Wattrel
                value: preset-wattrel
            -
                label: Xerneas
                value: preset-xerneas
            -
                label: Yveltal
                value: preset-yveltal
            -
                label: Zygarde
                value: preset-zygarde
*/
/* @settings
name: Text Controls
id: grotto-text-controls
collapsed: false
settings:
    -
        id: grotto-font-weight
        title: Font Weight
        description: Adjust the font weight
        type: variable-number-slider
        default: 400
        min: 200
        max: 800
        step: 100
    -
        id: file-line-width
        title: File Line Width
        description: Adjust the width of the viewable lines of text
        type: variable-text
        default: 700px
*/
/* @settings
name: Table Controls
id: grotto-table-controls
collapsed: false
settings:
    -
        id: grotto-table-border-style
        title: Table Border Style
        type: variable-select
        default: collapse
        options:
            -
                label: Collapsed
                value: collapse
            -
                label: Separate
                value: separate
    -
        id: table-background
        title: Table Background Color
        type: variable-select
        default: var(--background-primary)
        options:
            -
                label: Normal
                value: var(--background-primary)
            -
                label: Accented
                value: var(--grotto-accent-1)
    -
        id: grotto-table-cell-width
        title: Table Cell Width
        type: variable-select
        default: fit-content
        options:
            -
                label: Normal
                value: fit-content
            -
                label: Maximized
                value: max-content
*/
/* @settings
name: Blockquote Controls
id: grotto-quote-controls
collapsed: false
settings:
    -
        id: blockquote-border-color
        title: Blockquote Border Color
        type: variable-select
        default: var(--text-normal)
        options:
            -
                label: Normal
                value: var(--text-normal)
            -
                label: Accent
                value: var(--color-accent)
    -
        id: blockquote-background-color
        title: Blockquote Background Color
        type: variable-select
        default: var(--background-primary)
        options:
            -
                label: Normal
                value: var(--background-primary)
            -
                label: Accent
                value: var(--color-accent)
    -
        id: grotto-callout-background-color
        title: Callout Background Color
        type: variable-select
        default: var(--background-primary)
        options:
            -
                label: Normal
                value: var(--background-primary)
            -
                label: Accent
                value: var(--color-accent)
    -
        id: grotto-callout-icon
        title: Callout Icon
        type: variable-select
        default: none
        options:
            -
                label: Enabled
                value: block
            -
                label: Disabled
                value: none
*/
/* @settings
name: Embed Controls
id: grotto-embed-controls
collapsed: false
settings:
    -
        id: embed-max-height
        title: Embed Max Height
        type: variable-text
        default: 4000px
*/
/* @settings
name: Mobile Controls
id: grotto-mobile-controls
collapsed: false
settings:
    -
        id: grotto-toolbar-rows
        title: Mobile Toolbar Height
        type: variable-number-slider
        default: 2
        max: 4
        min: 0
        step: 1
    -
        id: system-status-background
        title: System Status Bar Color
        type: variable-select
        default: var(--background-primary)
        options:
            -
                label: Normal
                value: var(--background-primary)
            -
                label: Accent
                value: var(--color-accent)
*/
